* {
  font-family: Calibri,Verdana,Arial,sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0
}
html {
  background: #3F3F3F;
  font-family: Calibri, Verdana, Arial, sans-serif
}
body {
  background: #3F3F3F;
  margin: 0 auto;
}

header {
  text-align: center;
  background: #000000;
}

header img {
  margin: auto;
}

#div-current-version {
  margin: auto;
  text-align: center;
  background-color: #F0F0F0;
  border-radius: 8px;
  overflow: hidden;
  display: table
}

#div-current-version img {
  width: 96px;
  display: table-cell
}

#div-current-version ul {
  margin: 32px;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  vertical-align: middle;
  display: table-cell
}

#div-current-version ul li {
  margin: 0;
  padding: 0
}

nav {
  padding: 48px;
  text-align: center
}

main {
  margin: auto;
  background: #9F9F9F;
  width: 80%;
}

h2 {
  background: #FFFFFF;
  margin: 4px
}

h4 {
  display: inline-block
}

img {
  border-width: 0
}

ul {
  margin: 8px 0;
  padding-bottom: 8px
}

li {

}

.currentbox {
  display: table;
  background: #FFFFFF;
  margin: 8px auto;
  width: 800px;
  padding: 8px;
}

.changebox {
  max-width: 800px;
  margin: 8px auto;
  background: #FFFFFF;
  border-radius: 4px
}

.changehead {
  display: table;
  table-layout: fixed;
  background: #DDDDDD;
  width: 100%;
  padding: 8px 0;
  border-radius: 4px 4px 0 0
}

.changecell {
  display: table-cell;
  padding: 0 8px
}

.x {
  text-align: left
}

.m {
  text-align: center
}

.f {
  text-align: right
}

.download {
  font-size: 24px;
  text-decoration: none;
  background: #115511;
  color:  #FFFFFF;
  padding: 2px 40px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.download:hover {
  background: #339933
}


table {
  margin: auto
}